

.sec-bg{
  background-color:  rgb(194, 48, 97);
}
.loader{
  margin-top:100px;
}
  
  .card1{
      height: 470px;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
  }
  img{
      height: 250px;
  }
 .contentcard{
   height: 100px;
 }
 /*  */
.rating
{
 font-size: 16px;
}
.search{
  margin:10px;
  border-radius: 9px;
}
.container{
  display:flex;
  background-color: blue;
}
mat-card:hover{
  box-shadow:10px 10px grey;
}