<?xml version="1.0" encoding="utf-8"?><checkstyle version="4.3"><file name="C:\Users\nEW u\Desktop\projectFa4\shopping_ws\src\app.js"></file><file name="C:\Users\nEW u\Desktop\projectFa4\shopping_ws\src\model\connection.js"></file><file name="C:\Users\nEW u\Desktop\projectFa4\shopping_ws\src\model\data.js"></file><file name="C:\Users\nEW u\Desktop\projectFa4\shopping_ws\src\model\users.js"></file><file name="C:\Users\nEW u\Desktop\projectFa4\shopping_ws\src\routes\routing.js"></file><file name="C:\Users\nEW u\Desktop\projectFa4\shopping_ws\src\utilities\errorlogger.js"></file><file name="C:\Users\nEW u\Desktop\projectFa4\shopping_ws\src\utilities\requestlogger.js"></file><file name="C:\Users\nEW u\Desktop\projectFa4\shopping_ws\src\utilities\validators.js"></file><file name="C:\Users\nEW u\Desktop\projectFa4\shopping_ws\src\service\user.js"></file></checkstyle>